table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

table {
  margin-bottom: 250px;
}

h2 {
  color: #333;
}
.error-message {
  background-color: #ffdddd;
  border: 1px solid #f44336;
  color: #d8000c;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 50px;
}
